html {
    background: url('./resources/background.jpg') no-repeat center fixed;
    background-size: cover;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    flex-direction: column;
    display: flex;
}

.header1, .header2 {
    background-color: #1f2937;
    margin: 10px;
    display: flex;
    align-items: center;
}

.header-link {
    font-size: 30px;
    text-decoration: none;
}

.header2 {
    margin-top: -20px;
}

h2 {
    text-shadow: 0 0 10px red;
    color: white;
    font-size: 40px;
    text-align: center;
}

p2 {
    color: white;
    font-size: 30px;
    display: flex;
    text-align: center;
}

.btn-support {
    padding: 20px 32px;
    background-color: lightcoral;
    box-shadow: lightcoral 0 0 10px;
    border-radius: 30px;
    font-size: 20px;
}

.button-donate {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header2-img {
    width: 750px;
    border-radius: 150px;
    padding: 50px;
}

.header2-section1 {
    width: 450px;
    flex: 2;
    margin-left: 50px;
}

.logo-pokeball {
    width: 100px;
    border-radius: 30px;
    padding: 10px;
}

.welcome-msg {
    text-shadow: 0 0 10px red;
    color: white;
    justify-self: flex-start;
    flex-grow: 1;
}

.header-body {
    justify-self: flex-start;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 10px;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.photo-caption, .bg-caption {
    color: white;
}

.bg-link {
    text-decoration: underline;
}

.photo-caption {
    justify-content: center;
    margin-top: -30px;
    display: flex;
}

.photo-link {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.layer-bginfo {
    background-color: #1f2937;
    display: flex;
    width: 290px;
    padding: 15px;
    margin: 10px;
    align-self: center;
    gap: 10px;
    justify-content: center;
    border-radius: 25px;
    box-shadow: lightcoral 0 0 10px;
}

.container-content {
    background-color: black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: -50px;
}

.content-photos {
    border-radius: 50px;;
}

.content-text {
    color: white;
    text-shadow: 0 0 5px red;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.content-by {
    color: white;
    display: flex;
    justify-content: center;
}

.content-heading {
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container-quote {
    background: url('./resources/section-quote.jpg') no-repeat center fixed;
    background-size: cover;
    background-position: 0px 10px;
    height: 500px;
    background-color: #1f2937;
}

.quote, .quoteby {
    color: white;
    font-size: 80px;
}

.quote {
    display: flex;
    margin: 20px;
    margin-top: 100px;
}

.quoteby {
    display: flex;
    justify-content: flex-end;
    margin: 120px;
    margin-top: -20px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 30vh;
}

.container-signup {
    display: flex;
    background-color: darkgray;
    width: 800px;
    border-radius: 0 10px;
}
.info-signup {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
}

.button-signup {
    display: flex;
    align-items: center;
    margin: 30px;
    width: 150px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;;
    justify-content: center;
    background-color: black;
    height: 50px;
}

.copyright-info {
    color: white;
    font-size: 20px;
}

.copyright-info2 {
    color: white;
    font-size: 20px;
}