html {
    background: url('./resources/background.jpg') no-repeat center fixed;
    background-size: cover;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    flex-direction: column;
    display: flex;
}

.header1, .header2 {
    background-color: #1f2937;
    margin: 10px;
    display: flex;
    align-items: center;
}

.header-link {
    font-size: 30px;
    text-decoration: none;
}

.header2 {
    margin-top: -20px;
}

h2 {
    text-shadow: 0 0 10px red;
    color: white;
    font-size: 40px;
    text-align: center;
}

p2 {
    color: white;
    font-size: 30px;
    display: flex;
    text-align: center;
}

button {
    padding: 20px 32px;
    background-color: lightcoral;
    box-shadow: lightcoral 0 0 10px;
    border-radius: 30px;
    font-size: 20px;
}

.button-donate {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header2-img {
    width: 750px;
    border-radius: 150px;
    padding: 50px;
}

.header2-section1 {
    width: 450px;
    flex: 2;
    margin-left: 50px;
}

.logo-pokeball {
    width: 100px;
    border-radius: 30px;
    padding: 10px;
}

.welcome-msg {
    text-shadow: 0 0 10px red;
    color: white;
    justify-self: flex-start;
    flex-grow: 1;
}

.header-body {
    justify-self: flex-start;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 10px;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.photo1-caption, .bg-caption {
    color: white;
}

.bg-link {
    text-decoration: underline;
}

.photo1-caption {
    justify-content: center;
    margin-top: -30px;
    display: flex;
}

.photo1-link {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.layer-bginfo {
    background-color: #1f2937;
    display: flex;
    width: 290px;
    padding: 15px;
    margin: 10px;
    align-self: center;
    gap: 10px;
    justify-content: center;
    border-radius: 25px;
    box-shadow: lightcoral 0 0 10px;
}

.container-content {
    background-color: black;
    margin: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.content-photos {
    max-width: 200px;
    max-height: 200px;
}